{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1>Logged out!</h1>
    <p>You have been logged out. <a href="{{ path('app_login') }}">Log in</a> again.</p>
{% endblock %}
