{% extends 'base.html.twig' %}

{% block title %}Hello TrickDetailsController!{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="py-2 min-vh-50 position-relative">
        <div class="container px-4 px-lg-5 my-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-center text-white">
                    <figure class="figure">
                        <img src="../../public/assets/pictures/defaultTrick.png" class="figure-img img-fluid rounded w-75" alt="Trick Image">
                    </figure>

                </div>
                <div class="d-flex gap-4 position-absolute top-0 end-0 p-3">
                    <a href="" class="text-dark text-decoration-none"><i class="fa-solid fa-pen"></i></a>
                    <a href="" class="text-dark text-decoration-none"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>
    </header>

    <hr>

    <!-- Main Content-->
    <div class="container position-relative px-4 px-lg-5">

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-6 gx-lg-6 row-cols-1 row-cols-md-3 row-cols-xl-6 justify-content-center">
                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 1</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 2</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 3</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 4</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 5</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 6</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 7</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 8</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 9</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 11</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 12</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5 ">
                        <div class="card">
                            <!-- Trick image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                            <!-- Trick details-->
                            <div class="card-body p-4">
                                <!-- Trick name-->
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="fw-bolder mb-0">TRICK 13</h5>
                                    <div class="d-flex gap-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pb-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-6 gx-lg-6 row-cols-1 row-cols-md-3 row-cols-xl-6 justify-content-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Purus sit amet
                    volutpat consequat mauris nunc congue. Varius morbi enim nunc faucibus. Nulla aliquet enim tortor at
                    auctor urna. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Morbi blandit cursus
                    risus at ultrices mi tempus imperdiet nulla. Gravida arcu ac tortor dignissim. Dolor sit amet
                    consectetur adipiscing elit pellentesque habitant. Faucibus scelerisque eleifend donec pretium vulputate
                    sapien. Etiam erat velit scelerisque in dictum non. Non pulvinar neque laoreet suspendisse interdum
                    consectetur libero id. Suspendisse potenti nullam ac tortor vitae. Laoreet sit amet cursus sit amet
                    dictum sit amet. Est placerat in egestas erat imperdiet sed euismod nisi porta. Mauris vitae ultricies
                    leo integer. Id ornare arcu odio ut sem nulla pharetra diam sit. Eget mauris pharetra et ultrices neque
                    ornare. Dictum fusce ut placerat orci nulla pellentesque dignissim enim. Non consectetur a erat nam at
                    lectus urna duis convallis.
                </div>
            </div>
            <div class="container mt-4">
                <div class="row justify-content-center equal-height-row">
                    <div class="col-12 col-md-4 col-lg-3 mb-3 equal-height-col">
                        <div class="border border-dark p-3 text-center ">
                            Date de création : 01/01/2021 à 12:00
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 mb-3 equal-height-col">
                        <div class="border border-dark p-3 text-center">
                            Date de modification : 01/01/2021 à 12:00
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 mb-3 equal-height-col">
                        <div class="border border-dark p-3 text-center">
                            Groupe : Groupe 1
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="d-flex align-items-center">
                        <textarea name="comment" id="comment" cols="6" rows="2" class="form-control"></textarea>
                        <button class="btn btn-outline-dark ms-2 align-self-stretch" type="button">Leave a comment</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container mt-4">
            <!-- Commentaire 1 -->
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-8 d-flex align-items-start border border-2 border-dark p-3">
                    <div class="d-flex align-items-center justify-content-center rounded-circle border border-2 border-dark me-3" style="width: 64px; height: 64px;">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </div>
                    <div>
                        <h5>Utilisateur 1</h5>
                        <p>Ceci est le premier commentaire.</p>
                    </div>
                </div>
            </div>
            <!-- Commentaire 2 -->
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-8 d-flex align-items-start border border-2 border-dark p-3">
                    <div class="d-flex align-items-center justify-content-center rounded-circle border border-2 border-dark me-3" style="width: 64px; height: 64px;">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </div>
                    <div>
                        <h5>Utilisateur 2</h5>
                        <p>Ceci est le deuxième commentaire.</p>
                    </div>
                </div>
            </div>
            <!-- Commentaire 3 -->
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-8 d-flex align-items-start border border-2 border-dark p-3">
                    <div class="d-flex align-items-center justify-content-center rounded-circle border border-2 border-dark me-3" style="width: 64px; height: 64px;">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </div>
                    <div>
                        <h5>Utilisateur 3</h5>
                        <p>Ceci est le troisième commentaire.</p>
                    </div>
                </div>
            </div>
            <!-- Commentaire 4 -->
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-md-8 d-flex align-items-start border border-2 border-dark p-3">
                    <div class="d-flex align-items-center justify-content-center rounded-circle border border-2 border-dark me-3" style="width: 64px; height: 64px;">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </div>
                    <div>
                        <h5>Utilisateur 4</h5>
                        <p>Ceci est le quatrième commentaire.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
